<section class="LoginPage">

    <h1 class="LoginPage-title"> Login </h1>
    <p class="LoginPage-newUserLink"><%= link_to "New here? Sign-up here!", new_user_path %></p>

    <section class="LoginForm">
        <%= form_with url: sessions_path do |form| %>
            <div class="LoginForm-field">
                <p class="LoginForm-label">Email </p>
                <%= form.email_field :email, class: "LoginForm-input1" %>
            </div>
            <div class="LoginForm-field">
                <p class="LoginForm-label">Password </p>
                <%= form.password_field :password, class: "LoginForm-input2" %>
            </div>

            <%= form.submit "Sign-in!", class: "LoginForm-submitButton" %>
        <% end %>
    </section>

</section>
