<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div class="MenuForm-errorExplanation">
      <h2 class="MenuForm-errorMessage"><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="MenuForm">
    <div class="MenuForm-field">
      <%= form.label :menu_name, class: "MenuForm-label" %>
      <%= form.text_field :menu_name, class: "MenuForm-input1" %>
    </div>

    <div class="MenuForm-field">
      <p class="MenuForm-label">Would you like this menu to be active?</p>
      <%= form.check_box :active, class: "MenuForm-input2" %>
    </div>
    <%= form.submit "I'm done", class: "MenuForm-submitButton" %>
  </section>
<% end %>
