<section class="Clerks">
    <h4 class="Clerks-notice"><%= params[:notice] %></h4>

    <h1 class="Clerks-title">List of all clerks and their email IDs</h1>
    <p class="Clerks-addClerkLink"><%= link_to "Add clerk", new_clerk_path %></p>

    <table class="Clerks-table">
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td class="Clerks-value1"> <%= user.first_name + " " + user.last_name %> </td>
                    <td class="Clerks-value2"> <%= user.email %> </td>
                    <td>
                        <p class="Clerks-link">
                            [ <%= link_to "Remove", user, method: :delete, data: { confirm: "Are you sure?" } %> ]</p>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>
