<section>
  <h1> New Menu Item </h1>

    <section>
      <%= form_with url: menu_items_path do |form| %>

        <div>
          <p>Menu Item Name</p>
          <%= form.text_field :menu_item_name, class: "Form-input" %>
        </div>

        <div>
          <p>Menu Item Price </p>
          <%= form.text_field :menu_item_price, class: "Form-input" %>
        </div>

        <div>
          <%= form.submit "Add Item ", class: "Form-submit" %>
        </div>

        <%= hidden_field_tag "menu_id", @current_menu_id %>

      <% end %>
    </section>

  <%= link_to "Back", menu_items_path(:current_menu_id => @current_menu_id) %>
<section>
