<section class="NewUserPage">
    <div class="NewUserPage-header">
        <h1 class="NewUserPage-title">Hi there!</h1>
        <h1 class="NewUserPage-title">Sign up to continue to your home page!</h1>
    </div>
    <section class="NewUserForm">
        <%= form_with url: users_path do |form| %>
            <div class="NewUserForm-field">
                <p class="NewUserForm-label">First Name</p>
                <%= form.text_field :first_name, class: "NewUserForm-input1" %>
            </div>
            <div class="NewUserForm-field">
                <p class="NewUserForm-label">Last Name</p>
                <%= form.text_field :last_name, class: "NewUserForm-input2" %>
            </div>
            <div class="NewUserForm-field">
                <p class="NewUserForm-label">Email</p>
                <%= form.email_field :email, class: "NewUserForm-input3" %>
            </div>
            <div class="NewUserForm-field">
                <p class="NewUserForm-label">Password</p>
                <%= form.password_field :password, class: "NewUserForm-input4" %>
            </div>
            <%= form.submit "Sign up", class: "NewUserForm-submitButton" %>
            <%= hidden_field_tag "role", "customer" %>
        <% end %>
    </section>
</section>
