<%= form_with(model: order, local: true) do |form| %>
  <section>
      <h4> Status <h4>
          <div>
              <%= radio_button_tag "status", "confirm", !(@status) %>
              <p> Confirmed </p>
          </div>
          <div>
              <%= radio_button_tag "status", "preparing", @status %>
              <p> On your way </p>
          </div>
          <div>
              <%= radio_button_tag "status", "delivered" %>
              <p class="Order-status"> Delivered </p>
          </div>
          <div>

          <div>
              <%= submit_tag "Update Order", class: "Order-submit" %>
          </div>

  </section>
<% end %>
