<p id="notice"><%= notice %></p>

<h1>Carts</h1>

<table>
  <thead>
    <tr>
      <th>Item Ordered</th>
      <th>Quantity</th>
      <th>From Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.menu_item_id %></td>
        <td><%= cart.quantity %></td>
        <td><%= cart.menu_id %></td>
        <td><%= link_to "Edit", edit_cart_path(cart) %></td>
        <td><%= link_to "Remove from cart", cart, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
    <%= form_with url: orders_path do |form| %>
        <div class="Form-order">
            <%= submit_tag "Order now", class: "Order-submit" %>
        </div>
    <% end %>
</div>
