<section class="Cart">
  <h3 class="Cart-notice"> <%= notice %> </h3>

  <h1 class="Cart-title">Cart</h1>

  <table class="Cart-table">
    <tbody>
      <% @cart.each do |cart| %>
        <tr>
          <td class="Cart-itemName"> <%= cart.menu_item.menu_item_name %> </td>
          <td class="Cart-price"> <%= cart.menu_item.menu_item_price %> </td>
          <td class="Cart-quantity"> <%= cart.quantity %> item/s </td>
          <td class="Cart-options"> [ <%= link_to "Remove", cart, method: :delete, data: { confirm: "Are you sure?" }, class: "Cart-link" %> ] </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="Cart-total">Total = <%= @amount %> </h2>
  <p class="Cart-message">Click to place order</p>

  <div>
      <%= form_with url: orders_path do |form| %>
          <div class="Form-order">
              <%= submit_tag "Place Order", class: "Order-submit", class: "Cart-submitButton" %>
          </div>
      <% end %>
      <%= link_to "Back", new_order_path, class: "Cart-link" %>
  </div>
</section>
