<section class="OrderItem">
  <p class="OrderItem-notice"><%= notice %></p>

  <div class="OrderItem-details">
    <h3 class="Details">Date:  <%= @user_data["date"] %> </h3>
    <h3 class="Details">Order ID:  <%= params[:order_id] %> </h3>
    <h3 class="Details">Name:  <%= @user_data["name"] %> </h3>
    <h3 class="Details">Email:  <%= @user_data["email"] %> </h3>
    <h2 class="Details-total"> Total Amount = <%= @amount %> </h2>
    <p class="Details-backLink"> <%= link_to "Back", :back %> </p>
  </div>

  <table class="Orders-table">
      <tr class="YourTable-tableHeader">
        <th class="YourTable-headerValue">Description</th>
        <th class="YourTable-headerValue">Unit price</th>
        <th class="YourTable-headerValue">Quantity</th>
        <th class="YourTable-headerValue">Total</th>
      </tr>

    <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td class="YourTable-value"><%= order_item.menu_item_name %></td>
          <td class="YourTable-value"><%= order_item.menu_item_price %></td>
          <td class="YourTable-value"><%= order_item.quantity %></td>
          <td class="YourTable-value"><%= order_item.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>



</section>
